// Color
$white: #fff;
$black: #000;
$blue: #003d8e;
$light_blue: #0b9dcc;
$dark_blue: #001b42;
$gray: #f5f7f9;
$light_blue_footer: #0b3476;
$dark_blue_footer: #0b2a63;


// Font Family
$primaryFontFamily: 'Open Sans', sans-serif;